<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt="no image available"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{recipe.name}}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropDown>
      <button type="button"
              class="btn btn-primary dropdown-toggle">
        Manage Recipe <i class="fa fa-caret-down"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add Ingredients</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  </div>
</div>
